body
{
    font-family:        sans-serif;
    font-size:          small;
}

a
{
    text-decoration:    none;
}
a:hover
{
    text-decoration:    underline;
}

#active-edge
{
    padding-top:        10px;
    padding-left:       2em;
    position:           fixed;
    left:               0px;
    top:                0px;
    height:             100%;
    border-right:       1px solid lightgrey;
    background-color:   Azure;
    overflow-x:         hidden;
    overflow-y:         auto;
    white-space:        nowrap;
    max-width:          0px;
    z-index:            2;

    -webkit-transition: max-width 350ms ease-in-out;
    -moz-transition:    max-width 350ms ease-in-out;
    -o-transition:      max-width 350ms ease-in-out;
    transition:         max-width 350ms ease-in-out;
}
#active-edge:hover
{
    max-width:          75%;
}

.postdiv
{
    border-radius:      0 0 6pt 6pt;
    border:             1px solid;
    margin:             1ex 1ex 1ex 0ex;
    padding:            0.5ex;
}
.postdiv-unread
{
    background-color:   azure;
    border-color:       gray;
}
.postdiv-read
{
    background-color:   whitesmoke;
    border-color:       lightgray;
}
.postdiv-active
{
    border-size:        2px;
}

.popup
{
    visibility:         hidden;
    width:              80%;
    position:           fixed;
    left:               0;
    right:              0;
    top:                30%;
    margin:             auto;
    background:         white;
    border:             2px solid gray;
    padding:            20px;
    z-index:            999;
}

.popup-close
{
    position:           absolute;
    top:                1ex;
    right:              1ex;
    cursor:             pointer;
}

