<div id="templates">
    <div id="subscriptionstemplate">
        $taglisttemplate#tags$
        Untagged<br/>
        $feedlinktemplate#untagged$
    </div>
    <div id="taglisttemplate">
        <div>
            <a href="#" onclick="reqtaggedposts('$tagnametemplate#tag$', false)">$tagnametemplate#tag$</a>
            <a href="#" onclick="reqtaggedposts('$tagnametemplate#tag$', true)">$tagunreadtemplate#tag$</a>
            <a href="#" onclick="togglefold(getElementById('fold-$tagnametemplate#tag$'))">+-</a>
        </div>
        <div id="fold-$tagnametemplate#tag$" style="display: none;">
            $feedlinktemplate#feeds$
        </div>
    </div>
    <div id="displayunread">(<span style='color: red;'>%unread%</span>)</div>
    <div id="tagnametemplate">%tag%</div>
    <div id="tagunreadtemplate">$displayunread@unreadlabel$</div>
    <div id="feedlinktemplate">
        <span style="margin-left: 2em;">
        <a href="#" onclick="reqposts('%feed%', false)">%title%</a>
        <a href="#" onclick="reqposts('%feed%', true)">$displayunread@unreadlabel$</a>
        </span>
        <br/>
    </div>
    <div id="sharedtagtemplate">
        <a href="#" onclick="reqsharedposts('%sharer%', '%tag%', false)">%friendlyname%/%tag%</a>
        <a href="#" onclick="reqsharedposts('%sharer%', '%tag%', true)">>$displayunread@unreadlabel$</a>
        <br/>
    </div>
    <div id="feedinfotemplate">
        <big><b><a href="%link%" target="_blank">%title%</a></b></big> <a href="#" onclick="reqposts('%feed%', getonlyunread())">%feed%</a>
        - Tags: <span id="feedtags-%pUuid%">$feedtagtemplate@tags$</span>
        <a href="#" onclick="tagfeed('%feed%')">add tag</a><br/>
        <small>%language% - %copyright% - %managingEditor% - %webMaster% - %generator% - %rating% - %pubDate%</small><br/>
        %description%
        <span style="float: right; display: inline-block;">
            <a href="#" onclick="unsubscribe('%feed%','%title%')">unsubscribe</a>
        </span>
    </div>
    <div id="feedtagtemplate">
        <span><a href="#" onclick="reqtaggedposts('%tags%', getonlyunread())">%tags%</a>
        <a href="#" onclick="untagfeed('%feed%', '%tags%')" style="vertical-align: super;">x</a>,&#160;
        </span>
    </div>
    <div id="posttemplate">
        <a id="nav%pUuid%"/><div class="postdiv postdiv-unread" id="post-%pUuid%" onclick="setcurrentanchor('%pUuid%')">
        <a href="%link%" id="href-%pUuid%" target="_blank" style="font-weight: bold;">%title%</a> %author%
        $enclosuretemplate@enclosure-url$
        <span style="display: inline-block; float: right;">%pubDate%</span><br/>
        <small><a href="#" onclick="reqposts('%feed%', getonlyunread())">%feed%</a></small><br/>
        <div style="margin: 0.5ex 0 0; background-color: white; border-top: 1px solid lightgray; border-bottom: 1px solid lightgray; overflow: auto;">
            $enclosureinlineimg@enclosure-image$
            $enclosureinlineaudio@enclosure-audio$
            $enclosureinlinevideo@enclosure-video$
            $mediatemplate@media-description$
            %content%
        </div>
        Tags: <span id="tags-%pUuid%">$taglinks@tags+,&#160;$</span>
        <a href="#" onclick="tag('%pUuid%')">add tag</a>
        <span style="display: inline-block; float: right;">
        Mark read: <input type="checkbox" %readchecked%="checked" onchange="markread('%pUuid%', checked)"/>
        </span>
        <br/>
        </div>
    </div>
    <div id="taglinks">
        <a href="#" onclick="reqtaggedposts('%tags%', getonlyunread())">%tags%</a>
    </div>
    <div id="enclosureinlineimg">
        <p><a href="%enclosure-url%" target="_blank"><img src="%enclosure-url%" style="max-width: 100%; max-height: 100vh;" /></a></p>
    </div>
    <div id="enclosureinlineaudio">
        <p><audio src="%enclosure-url%" controls preload="none"></audio></p>
    </div>
    <div id="enclosureinlinevideo">
        <p><video src="%enclosure-url%" controls preload="none" style="max-width: 100%; max-height: 100vh;"></video></p>
    </div>
    <div id="enclosuretemplate">
        <a href="%enclosure-url%" target="_blank"><img src="clip.png" title="%enclosure-url%" alt="%enclosure-url%" /></a>
    </div>
    <div id="mediatemplate">
        <p>%media-description%</p>
    </div>
    <div id="tagadmintemplate">
        <a href="#" onclick="reqtaggedposts('%tag%', false)">%tag%</a>
        <a href="#" onclick="reqtaggedposts('%tag%', true)">$displayunread@unreadlabel$</a>
        <a href="#" onclick="deletetag('%tag%')" style="vertical-align: super;">x</a>
        -
        <a href="#" onclick="sharetag('%tag%')">Share</a>
        <span id="sharedwith-%tag%">$shareetemplate@sharedwith$</span> <br/>
    </div>
    <div id="shareetemplate">
        %sharedwith%
        <a href="#" onclick="unshare('%tag%', '%sharedwith%')" style="vertical-align: super;">x</a>
    </div>
    <div id="opmltemplate">
        <span>
        <input type="checkbox" %disabled%="True" onchange="includeopmlsubscription('%url%', checked)"/>
        %title% - <a href="%url%">%url%</a>
        <input type="text" id="importtags-%url%" value="%tags%"/>
        </span>
        <br/>
    </div>
</div>

